@model Evaluate.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Authenticate.cshtml";
    ViewBag.Title = "¿Olvidaste tu contraseña?";
}

@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    <div class="panel periodic-login">
        <div class="panel-body text-center">
            <h1 class="atomic-symbol"><span class="icons icon-user"></span></h1>
            @Html.AntiForgeryToken()
            <p class="element-name">@ViewBag.Title</p>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <i class="icons icon-arrow-down"></i>
            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-text", required = "required" })
                <span class="bar"></span>
                @Html.LabelFor(m => m.Email)
                <p>Ingrese su correo electrónico para restablecer su contraseña</p>
            </div>

            <input type="submit" class="btn col-md-12" value="Enviar Link" />
        </div>
        <div class="text-center" style="padding:5px;">
            @Html.ActionLink("Iniciar Sesión", "Login") |
            @Html.ActionLink("Registrar", "Register")
        </div>
    </div>

    @*@Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>*@
}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
