@model IEnumerable<Evaluate.Models.Subject>

@{
    ViewBag.Title = "Materias";
}

<h2>Materias</h2>

<p>
    @Html.ActionLink("Crear Nueva ", "Create", "Subjects") <strong>Materia</strong>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Career.CareerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Career.CareerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @if (item.Status == true)
            {
                <span class="label label-success">Activa</span>
            }
            else
            {
                <span class="label label-danger">Desactiva</span>
            }
        </td>
        <td>
            @Html.ActionLink("Preguntas", "Index", "Questions", new { subjectId = item.SubjectId }, null) |
            @Html.ActionLink("Editar", "Edit", "Subjects", new { id = item.SubjectId }, null)
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
