@model Evaluate.Models.StudentCareer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentCareer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Career.CareerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Career.CareerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plan.PlanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plan.PlanName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Months)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Months)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
