@model IEnumerable<Evaluate.Models.Link>

@{
    ViewBag.Title = "Enlaces";
}

<div class="panel-heading bg-white">
    <h2>@ViewBag.Title</h2>
</div>
<br />

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LinkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LinkName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if (item.Status == true)
            {
                <span class="label label-success">Activa</span>
            }
            else
            {
                <span class="label label-danger">Desactiva</span>
            }
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.LinkId }) 
        </td>
    </tr>
}

</table>
